{% extends 'admin/edit.twig' %}

{% block mainButton %}

    <a href="/admin/pageVersion/edit/{{pageVersionID}}" class="btn btn-default">Back</a>
    <a href="#" class="btn btn-primary tpjc_save">Save</a>
    
{% endblock %}