{% extends 'admin/edit.twig' %}

{% block mainButton %}

    <a href="#addPageVersionBlockModal" data-toggle="modal" class="btn btn-primary">New Block</a>
    <a href="#insertPageVersionBlockModal" data-toggle="modal" class="btn btn-primary">Insert Reuseable Block</a>
    
{% endblock %}