/*-----------------------------------------------------------------------------
 * SITE:
 * FILE: /css/helper.css
----------------------------------------------------------------------------- */

.t5 { margin-top:5px; }
.b5 { margin-bottom:5px; }
.l5 { margin-left:5px; }
.tb5{ margin-top:5px; margin-bottom:5px; }
.m5 { margin:5px; }

.t10 { margin-top:10px; }
.l10 { margin-left:10px; }
.b10 { margin-bottom:10px; }
.l10 { margin-left:10px; }
.tb10{ margin-top:10px; margin-bottom:10px; }
.m10 { margin:10px; }

.t20 { margin-top:20px; }
.b20 { margin-bottom:20px; }
.l20 { margin-left:20px; }
.r20 { margin-right:20px; }
.tb20{ margin-top:20px; margin-bottom:20px; }
.m20 { margin:20px; }

.fl { float:left; }
.fr { float:right; }

.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }

.ntm { margin-top:0; }
.nbm { margin-bottom:0; }
.nm { margin:0; }
.np { padding:0; }

.lg {	font-size:16px; }
.sm { font-size:12px; }

.lhn { line-height:1; }
.vat { vertical-align:top; }
.tdn { text-decoration:none; }