/*-----------------------------------------------------------------------------
 * SITE:
 * FILE: /css/style.css
 * THIS IS SHARED WITH ADMIN TINYMCE
----------------------------------------------------------------------------- */

/* COLORS
 * New colors must be added to the TinyMCE config inside admin_js/main.js
----------------------------------------------------------------------------- */
.red {
	color:#903;
}

.green {
	color:#0C9;
}


/* TYPOGRAPHY
----------------------------------------------------------------------------- */

h1, h2, h3, h4, h5 {

}

h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration:none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	
}

h2 { font-size:26px; margin:25px 0; }
h3 { font-size:22px; margin:20px 0; } 
h4 { font-size:18px; margin:15px 0; }
h5 { font-size:16px; margin:10px 0; }

em { font-style:italic; }

strong { font-weight:bold; }

a {
	color:#039;
	text-decoration:none;
}

a:hover {
	color: #332A2A;
}

p {
	margin:0 0 15px;
	line-height:140%;
}

	p a {
		color:#039;
		text-decoration:underline;
	}

hr {
	width:100%; height:1px;
	line-height:1;
	border-top:1px solid #CCC;
	margin:10px 0;
}