{% for type, messages in flash %}

  {% for message in messages %}
  
    {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
    
    <div class="alert alert-{{ type }}">
  
      {{ message|raw }}
  
    </div>
  
  {% endfor %}
    
{% endfor %}