{% extends 'admin/layout.twig' %}

{% block head %}

    {{ parent() }}
    
{% endblock %}

{% block content %}
    
    {% include 'partial/flash.twig' %}
    
    <div id="#tpjc_dataTable"></div>
    
{% endblock %}