{% extends 'front/layout.twig' %}

{% block head %}

    {{ parent() }}
    
{% endblock %}

{% block content %}

  <h1>{{page.version.headline}}</h1>
  
  {% for block in page.version.blocks %}
   
    {% if block.templateID == 1 %}
    
      {% include 'partial/page_block_template_1.twig' %}
    
    {% elseif block.templateID == 2 %}
    
      {% include 'partial/page_block_template_2.twig' %}
    
    {% else %}
    
      Undefined block type      
    
    {% endif %}
  
	{% endfor %} 
   
{% endblock %}